body{
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  height:300px;
  width:300px;
  background-color: red;
}

.card-title{
  transform: translateZ(120px);
}
